<div class="button {{target.name}}" id="{{idd}}">{% if target %}{{target.bold_name}}{% else %}{{cmd}}{% endif %}</div><script>
    (function(){
        var data={ {% if target %}'target':'{{target.dest}}',{%endif %}'fp':"{{fpjs}}"};
        $("#{{idd}}").click(function(){
            $("#{{idd}}").parent().append($('<div class="busy">Busy...</div>'));
            $.ajax({
                url:"/{{cmd}}",
                data:data,
                success:function(dat, textStatus, xhr){
                    $("#{{idd}}").parent().find('.busy').remove();
                    if (dat['res']!='success'){
                        $("#{{idd}}").parent().append($('<div class="fail">Fail: '+dat['res']+'</div>'));
                    }
                    else{
                        if (dat['hide']){
                            $("#{{idd}}").parent().slideUp(function(){$(this).remove()});
                        }
                        if (dat['url']){
                            $("#{{idd}}").parent().append($('<a href="'+dat['url']+'">'+dat['res']+'</a>'));
                            }
                    }
                    }
                });
            });
        }
    )()
    </script>