aa<script>
    (function(){
        var data={'target':'{{target.dest}}','fp':"{{fpjs}}"};
        $("#{{idd}}").click(function(){
            $("#{{idd}}").parent().append($('<div class="busy">Busy...</div>'));
            $.ajax({
                url:"/move",
                data:data,
                success:function(dat, textStatus, xhr){
                    $("#{{idd}}").parent().find('.busy').remove()
                    if (dat['res']!='success'){
                        $("#{{idd}}").parent().append($('<div class="existed">Fail: '+dat['res']+'</div>'));
                    }
                    else{
                        if (dat['hide']){
                            $("#{{idd}}").parent().slideUp();
                        }
                    }
                    }
                });
            });
        }
    )()
    </script>